{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Statistic{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype=multipart/form-data>
    <label for="title">Dataset Name</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Detailed Description</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="num_samples">Number of Trials</label>
    <input type="number" id="num_samples" name="num_samples">
    <label for="sample_size">Sample Size</label>
    <input type="number" id="sample_size" name="sample_size">
    <label for="file">Enter CSV or Excel File</label>
    <input type="file" id="file" name="file">
    <input type="submit" value="Save">
  </form>
{% endblock %}