{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Previous Statistics{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
    <a class="action" href="{{ url_for('blog.reset') }} ">Reset</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
          <div class="stat_info">contains {{post['num_samples']}} trials of {{post['sample_size']}} size </div>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
      <p id = "identify" style="color:white"> {{ post['id'] }} </p>
      <p>
        <a href="{{ url_for('blog.download_all', filename=('all' + post['id']|string + '.csv')) }}">Download All</a>
        <a href="{{ url_for('blog.download_summary', filename=('summary' + post['id']|string + '.csv')) }}">Download Summary</a>
      </p>
      <p class="body"> {{ post['info'] }} </p>
      <table>
        <tr>
          <th>Range Distribution</th>
          <th>Standard Deviation Distribution</th>
          <th>Difference of Means</th>
        </tr>
        <tr>
          <td> <img src="../../static/1range.png" id="data_range" name="image" alt="image not found" onload="updateImages()" width="300" height="300"/> </td>
          <td> <img src="../../static/1stdev.png" id="stdev_data" name="image" alt="image not found" onload="updateImages()" width="300" height="300"/> </td>
          <td> <img src="../../static/1mean.png" id="mean_data" name="image" alt="image not found" onload="updateImages()" width="300" height="300"/> </td>
        </tr>
        <tr>
          <td> True Distribution: </td>
          <td> <img src="../../static/1dist.png" id="data_dist" name="image" alt="image not found" onload="updateImages()" width="300" height="300"/> </td>
        </tr>
      </table>
      <script>
        function updateImages() {
          var id = document.getElementById("identify").innerHTML.toString();
          id = id.slice(1, -1);
          var stdev_graph_name = '../../static/' + id + 'stdev.png';
          var range_graph_name =  '../../static/' + id + 'range.png';
          var mean_graph_name = '../../static/' + id + 'mean.png';
          var dist_graph_name = '../../static/' + id + 'dist.png';
          document.getElementById("data_range").src= (range_graph_name);
          document.getElementById("stdev_data").src=(stdev_graph_name);
          document.getElementById("mean_data").src=(mean_graph_name);
          document.getElementById("data_dist").src=(dist_graph_name);
        };
      </script>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}